body
{
	background-color:#303030;
	color:#FFDEAD;
	font-family: 'Lobster', cursive;
	font-size:20px;
}

#container
{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}

.rectangle
{
	width:960px;
	margin:18px;
	text-align:center;
}

.square
{
	width:50%;
	float:left;
}

#logo
{
	float:left;
	font-family: 'Lobster', cursive;
	font-size:40px;
	width:500px;
	text-align:left;
}

#zegar
{
	float:left;
	font-family: 'Lobster', cursive;
	font-size:35px;
	margin-left:150px;
	text-align:center;
}

.title1
{
	margin:10px;
	width:230px;
	height:142px;
	background-color:#1E90FF;
	float:left;
	text-align:center;
}

.title1:hover
{
	background-color:#0D80EE;
}

.title2
{
	margin:10px;
	width:230px;
	height:142px;
	background-color:#778899;
	float:left;
	text-align:center;
}

.title2:hover
{
	background-color:#667788;
}

.title3
{
	margin:10px;
	width:230px;
	height:142px;
	background-color:#32CD32;
	float:left;
	text-align:center;
}

.title3:hover
{
	background-color:#21BC21;
}

.title4
{
	margin:10px;
	width:420px;
	height:82px;
	background-color:#FF4500;
	text-align:center;
	font-size:26px;
	padding:30px;
	line-height:150%;
}

.title5
{
	margin:10px;
	width:420px;
	height:244px;
	background-color:#778899;
	text-align:center;
	text-align:justify;/*wyjustowany*/
	padding:30px;
}

.yt
{
	margin:10px;
	width:105px;
	height:142px;
	background-color:#B22222;
	float:left;
}

.yt:hover
{
	background-color:#A11111;
}

.fb
{
	margin:10px;
	width:105px;
	height:142px;
	background-color:#0000CD;
	float:left;
}

.fb:hover
{
	background-color:#0000BC;
}
.gplus
{
	margin:10px;
	width:105px;
	height:142px;
	background-color:#FF4500;
	float:left;
}

.gplus:hover
{
	background-color:#EE3400;
}

.tw
{
	margin:10px;
	width:105px;
	height:142px;
	background-color:#1E90FF;
	float:left;
}

.tw:hover
{
	background-color:#0D80EE;
}

a.tilelink
{
	color:#ffffff;
	text-decoration:none;
	display:block;
	width:230px;
	height:142px;
}

a.tilelinkhtml5
{
	color:#ffffff;
	text-decoration:none;
}

